.c_red300{
    background: #E57373!important;
    color: #ffffff!important;
}
.c_red400{
    background: #EF5350!important;
    color: #ffffff!important;
}
.c_red500{
    background: #F44336!important;
    color: #ffffff!important;
}
/* indigo */
.c_indigo50{
    background:#E8EAF6!important;
    color: #000000!important;
}
.c_indigo100{
    background:#C5CAE9!important;
    color: #000000!important;
}
.c_indigo200{
    background:#9FA8DA!important;
    color: #000000!important;
}
.c_indigo300{
    background:#7986CB!important;
    color: #ffffff!important;
}
.c_indigo400{
    background:#5C6BC0!important;
    color: #ffffff!important;
}
.c_indigo500{
    background:#3F51B5!important;
    color: #ffffff!important;
}
.c_indigo600{
    background:#3949AB!important;
    color: #ffffff!important;
}
.c_indigo700{
    background:#303F9F!important;
    color: #ffffff!important;
}
.c_indigo800{
    background:#283593!important;
    color: #ffffff!important;
}
.c_indigo900{
    background:#1A237E!important;
    color: #ffffff!important;
}

.ctext_indigo500{
    color: #3F51B5!important;
}

/* blue */
.c_blue50{
    background: #E3F2FD!important;
    color: #000000!important;
}
.c_blue100{
    background: #BBDEFB!important;
    color: #000000!important;
}
.c_blue200{
    background: #90CAF9!important;
    color: #000000!important;
}
.c_blue300{
    background: #64B5F6!important;
    color: #ffffff!important;
}
.c_blue400{
    background: #42A5F5!important;
    color: #ffffff!important;
}
.c_blue500{
    background: #2196F3!important;
    color: #ffffff!important;
}
.c_blue600{
    background: #1E88E5!important;
    color: #ffffff!important;
}
.c_blue700{
    background: #1976D2!important;
    color: #ffffff!important;
}
.c_blue800{
    background: #1565C0!important;
    color: #ffffff!important;
}
.c_blue900{
    background: #0D47A1!important;
    color: #ffffff!important;
}


/* cyan */
.c_cyan50{
    background: #E0F7FA!important;
    color: #000000!important;
}
.c_cyan100{
    background: #B2EBF2!important;
    color: #000000!important;
}
.c_cyan200{
    background: #80DEEA!important;
    color: #000000!important;
}
.c_cyan300{
    background: #4DD0E1!important;
    color: #ffffff!important;
}
.c_cyan400{
    background: #26C6DA!important;
    color: #ffffff!important;
}
.c_cyan500{
    background: #00BCD4!important;
    color: #ffffff!important;
}
.c_cyan600{
    background: #00ACC1!important;
    color: #ffffff!important;
}
.c_cyan700{
    background: #0097A7!important;
    color: #ffffff!important;
}
.c_cyan800{
    background: #00838F!important;
    color: #ffffff!important;
}
.c_cyan900{
    background: #006064!important;
    color: #ffffff!important;
}

.c_green300{
    background: #81C784!important;
    color: #ffffff!important;
}
.c_green400{
    background: #66BB6A!important;
    color: #ffffff!important;
}
.c_green500{
    background: #4CAF50!important;
    color: #ffffff!important;
}
/* grey */
.c_grey50{
    background: #FAFAFA!important;
    color: #000000!important;
}
.c_grey100{
    background: #F5F5F5!important;
    color: #000000!important;
}
.c_grey200{
    background: #EEEEEE!important;
    color: #000000!important;
}
.c_grey300{
    background: #E0E0E0!important;
    color: #ffffff!important;
}
.c_grey400{
    background: #BDBDBD!important;
    color: #ffffff!important;
}
.c_grey500{
    background: #9E9E9E!important;
    color: #ffffff!important;
}
.c_grey600{
    background: #757575!important;
    color: #ffffff!important;
}
.c_grey700{
    background: #616161!important;
    color: #ffffff!important;
}
.c_grey800{
    background: #424242!important;
    color: #ffffff!important;
}
.c_grey900{
    background: #212121!important;
    color: #ffffff!important;
}



/* blue grey */
.c_blueGrey50{
    background: #ECEFF1!important;
    color: #000000!important;
}
.c_blueGrey100{
    background: #CFD8DC!important;
    color: #000000!important;
}
.c_blueGrey200{
    background: #B0BEC5!important;
    color: #000000!important;
}
.c_blueGrey300{
    background: #90A4AE!important;
    color: #ffffff!important;
}
.c_blueGrey400{
    background: #78909C!important;
    color: #ffffff!important;
}
.c_blueGrey500{
    background: #607D8B!important;
    color: #ffffff!important;
}
.c_blueGrey600{
    background: #546E7A!important;
    color: #ffffff!important;
}
.c_blueGrey700{
    background: #455A64!important;
    color: #ffffff!important;
}
.c_blueGrey800{
    background: #37474F!important;
    color: #ffffff!important;
}
.c_blueGrey900{
    background: #263238!important;
    color: #ffffff!important;
}

.ctext_blueGrey500{
    color: #607D8B!important;
}
